html, body{
    padding: 0;
    margin: 0;
}
.page {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.page header {
    background: lightblue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page section {
    display: flex;
    flex-flow: row;
    width: 100%;
    min-height: 400px;
    flex-grow: 1;
}
.page section nav {
    white-space: nowrap;
    padding: 1em;
    background: lightsalmon;
}
.page section main {
    background: lightgreen;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    padding: 1em;
}
.page section main .images {
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-content: space-around;
}
.page section main .images img {

}
.page section aside {
    background: lightgoldenrodyellow;
    padding: 1em;
    box-sizing: border-box;
    width: 200px;
}
.page footer {
    background: lightcoral;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*
    Phone/Mobile styles
    - Hide side menu
    - Change order - put content before main menu only with CSS
    - Switch from column layout (main menu | content | side menu) to row layouut
*/

@media(max-width: 500px){
    .page section aside{
        display: none;
    }
    .page section{
        flex-flow: column;
    }
    .page section main{
        order: 1;
    }
    .page section nav{
        order: 2;
    }
}